#hi{
	Goodbye Message: I am really sorry about the other night. You told me that you wanted to goto sleep early and 
	so I didnt think you wanted to hang out with me. I enjoy hanging out with you but sometimes i get the impression you dont want to hang out with me.
	I just want to say thank you for being such a good friend while i was in Seattle. Even though i am bad at showing it, I will miss you. Though we have our
	ups and downs I know I can always count on you -whether I am not feeling well, or just need someone to cheer me up - and maybe sometimes someone just to
	fight with. I know I can be stubborn, annoying, and maybe a lil pushy sometimes but thats only becuase I care and want you to succeed and do amazing things.
	Youa re a smart girl and are gonna go far.
	
	So keep up the good work. I expect a full up and running website soon. Hope to see you soon :) 
	
	You will be missed,
	
	Leore
}





html{
	background-image:url(".png");
	margin:0;
}
body{
	margin:0;
	padding:0;
}
ul{
	padding:0px;
	margin:0;
}
a{
	text-decoration:none;
}
a:link{
	color:#000000;
}
a:visited {
	color:#CC0066;
}



#title{
	color: black;
	font-size: 50px;
	text-align: center;
	font-family: 'Pacifico', cursive;
	padding-top:2cm;
	vertical-align:top;
	margin:0;

}


#navbar{
	margin:0;
	border-top:5px solid #CC0066;
	margin-top:30px;
	border-bottom:5px solid #CC0066;
	margin-bottom:30px;
	background-image:url("washi.png");
	font-family: 'Over The Rainbow', cursive
}
#navbar ul{
	margin:0;
	text-align:center;
	padding:0;
	padding-top:10px;
	padding-bottom:10px;
}
#navbar ul li{
	width:100px;
	font-size:30px;
	line-height:30px;

}
#about{
margin-top:30px;
margin-bottom:30px;
text-align:center;
font-size:30px;
font-family: 'Pacifico', cursive;
font-weight:900;
}

#aboutme{
	list-style-type:vertical;
}


a:hover {color:#FF0066;}

li {
	display:inline-block;
	text-align:center;}


#social ul li
	{margin:0;
	padding: 0;
	list-style-type:none;
	text-align:  center;
	}

#socialicons {
	text-align: center;
}

#socialicons li {
	margin-top:30px;
	display:inline-block;
	text-align:center;
	width:100px;
		
}
		

.logo {
 margin-bottom: 10px;
 width: 50px;
 display: inline-block;
}
.logo:hover{
	opacity:.7;
}

#contactme {
	margin:0;
	border-top:5px solid #CC0066;
	margin-top:30px;
	border-bottom:5px solid #CC0066;
	margin-bottom:30px;
	background-image:url("washi.png");
	font-family: 'Over The Rainbow', cursive;
	font-size:30px;
	line-height:30px;
	margin:0;
	text-align:center;
	padding:0;
	padding-top:10px;
	padding-bottom:10px;
}
#wrapper
{
width:100%;
background-color:white;
position:relative;
border-radius: 10px;
-moz-border-radius: 10px;
padding:30px;
}

#myresume {
	border-top:5px solid #CC0066;
	margin-top:30px;
	border-bottom:5px solid #CC0066;
	margin-bottom:30px;
	background-image:url("washi.png");
	font-family: 'Over The Rainbow', cursive;
	font-size:30px;
	line-height:30px;
	margin:0;
	text-align:center;
	padding:0;
	padding-top:10px;
	padding-bottom:10px;}



#ilike {
	border-top:5px solid #CC0066;
	margin-top:30px;
	border-bottom:5px solid #CC0066;
	margin-bottom:30px;
	background-image:url("washi.png");
	font-family: 'Over The Rainbow', cursive;
	font-size:30px;
	line-height:30px;
	margin:0;
	text-align:center;
	padding:0;
	padding-top:10px;
	padding-bottom:10px;}

	#blankspacetwo {
		background-color:white;
		height:5px;
		margin:auto;
	}