
#title{
	color: black;
	font-size: 50px;
	text-align: center;
	font-family: 'Pacifico', cursive;
	padding-top:2cm;
	vertical-align:top;
	margin:0;

}


#links{
	margin:0;

}

#about{
margin:0;
text-align:center;
font-size:30px;
font-family: 'Pacifico', cursive;
font-weight:900;
padding-top:0cm;
padding-bottom:0cm;
}

#aboutme{
	list-style-type:vertical;
}

#morelinks
{
list-style-type:none;
margin:0;
text-align:center;
padding-top:0cm;
padding-bottom:0;
font-size:30px;
font-family: 'Over The Rainbow', cursive;
word-spacing:50px;
font-weight:900;


}
li
{
display:inline;

}

html{background-image:url("retina_wood.png");
margin:0;
}

a:link{

	color:#000000;

}
a:visited {color:#CC0066;

}

a:hover {color:FF0066;}

hr {
     color: #CC0066;
     background: #CC0066; 
     width: 100%; 
     height: 5px;
     margin:0;
}

#social ul 
	{margin:0;
	padding: 0;
	list-style-type:none;
	text-align:  center;}

#social ul li{display:inline;}

.twitterbird {
 margin-bottom: 10px;
 width: 160px;
 height:160px;
 display:block;
 background:transparent url('twitter (1).png') center top no-repeat;
}

.twitterbird:hover {
   background-image: url('twitter (1).png');
}

.linkedinlogo {
 margin-bottom: 10px;
 width: 160px;
 height:160px;
 display:block;
 background:transparent url('linkedin.png') center top no-repeat;
}

.linkedinlogo:hover {
   background-image: url('linkedin.png');
}

.facebooklogo {
 margin-bottom: 10px;
 width: 160px;
 height:160px;
 display:block;
 background:transparent url('facebook.png') center top no-repeat;
}

.facebooklogo:hover {
   background-image: url('facebook.png');
}

